@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>>Built with ASP.NET Core</p>
    <img src="https://c.tenor.com/aoXp53sVJ7YAAAAS/dcau-batman.gif" alt="x" width="50%" height="50%">
</div>
